[data-theme='dark'] {
    --white_color: #1a1a1a;
    --input-bg: #1e1e2f;
    --input-color: #eee;
    --input-border: #444;
    --base-bg-color: #121212;
    --main-content-bg-color: #1e1e1e;
    --sidebar_bg_color: #2b2b2b;
    --base-font-color: #ffffff;
    --auth-border-color: #444444;
    --input-border-color: #555555;
    --auth_btn_bg_color: #4e5dfe;
    --nav_border_color: #4e79f7;
    --nav_active_color: #1e1e1e;
    --header_border_color: #333333;
    // Bootstrap Card Colors
    --card-bg: #2c2c3e;
    --card-text: #f1f1f1;
    --card-border: #444;
}
