:root {
    --white_color: #ffffff;
    --input-bg: #fff;
    --input-color: #000;
    --input-border: #ccc;
    --base-bg-color: #f9fafb;
    --main-content-bg-color: #f1f3f5;
    --sidebar_bg_color: #f8f9fa;
    --base-font-color: #1f1f1f;
    --auth-border-color: #dddddd;
    --input-border-color: #dee2e6;
    --auth_btn_bg_color: #6471fe;
    --nav_border_color: #3e79f7;
    --nav_active_color: #ecf1fe;
    --header_border_color: #e5e5e5;
    --tab_font_color: #555555;
    // Bootstrap Card Colors
    --card-bg: #ffffff;
    --card-text: #1f1f1f;
    --card-border: #dee2e6;
  }
